<div class="container mt-4">
    <h1 class="text-center">Welcome!</h1>
    
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>FIRST NAME</th>
                <td>{{first_name}}</td>
            </tr>
            <tr>
                <th>LAST NAME</th>
                <td>{{last_name}}</td>
            </tr>
            <tr>
                <th>EMAIL NAME</th>
                <td>{{email}}</td>
            </tr>
            <tr>
                <th>YEAR</th>
                <td>{{year}}</td>
            </tr>
            <tr>
                <th>MAJOR</th>
                <td>{{major}}</td>
            </tr>
            <tr>
                <th>DEGREE</th>
                <td>{{degree}}</td>
            </tr>
        </tbody>
    </table>
</div>
